.CommentItem {
  margin-bottom: 30px;
}

.CommentItem-username {
  font-weight: 700;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.CommentItem-usernameSelf {
  font-weight: 700;
  font-size: 12px;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}

.CommentItem-date {
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

.CommentItem-text {
  font-weight: 400;
  font-size: 14px;
  overflow-wrap: break-word;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.CommentItem-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.CommentItem-link:visited {
  color: #0087E9;
}

.CommentItem-link:hover {
  text-decoration: underline;
}
