.CartItem {
  display: flex;
  justify-content: flex-start;
}

.CartItem-code {
  padding: 20px 10px 20px 20px;
}

.CartItem-title {
  width: 100%;
  padding: 20px 10px;
}

.CartItem-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 20px 25px;
}

.CartItem-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0px;
  width: 25%;
}
